@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés pour les couleurs de votre thème */
:root {
  --primary-bg: #000814;
  --primary-yellow: #FFC300;
  --primary-blue: #003566;
}

/* Styles de base pour le body */
body {
  background-color: var(--primary-bg);
  color: white;
}


/* Transitions fluides */
* {
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}
